In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# Creating Tables in a Database

## Connect to database

In [ ]:
# Connecting to a database
conn = sqlite3.connect('planets.db')
cur = conn.cursor()

# Note that you can connect to a DB over the network too (depends on system)
# Something like this for example: postgresql://user:secret@localhost/dbname

## Create `planets` table

In [ ]:
# Here we create a table called `planets` (only run this once)
cur.execute("""
CREATE TABLE planets (
    id INTEGER PRIMARY KEY,
    name TEXT,
    color TEXT,
    num_of_moons INTEGER,
    mass REAL
);
""")

### Add new column to table

In [ ]:
# Adding a new column to the table
cur.execute("""ALTER TABLE planets ADD COLUMN rings BOOLEAN;""")

### Insert data into table

In [ ]:
# Insert a  another table
cur.execute("""
INSERT INTO 
    planets 
        (name, color, num_of_moons, mass, rings) 
    VALUES 
        ("Mercury", "gray", 0, 0.55, 0),
        ("Venus", "yellow", 0, 0.82, 0),
        ("Earth", "blue", 1, 1.00, 0),
        ("Mars", "red", 2, 0.11, 0),
        ("Jupiter", "orange", 53, 317.90, 0),
        ("Saturn", "hazel", 62, 95.19, 1),
        ("Uranus", "light blue", 27, 14.54, 1),
        ("Neptune","dark blue", 14, 17.15, 1),
        ("Pluto", "brown", 2, 0.003, 0);
""")

## Create new table `exoplanets`

In [ ]:
cur.execute("""
CREATE TABLE exoplanets (
    id INTEGER PRIMARY KEY,
    name TEXT,
    color TEXT,
    num_of_moons INTEGER,
    mass REAL,
    star TEXT
);
""")

In [ ]:
cur.execute("""ALTER TABLE exoplanets ADD COLUMN rings BOOLEAN;""")

In [ ]:
cur.execute("""
INSERT INTO 
    exoplanets 
        (name, color, num_of_moons, mass, rings, star) 
    VALUES
    ("Xya", "green", 4, 3.21, 1, "Signas"),
    ("Loas", "blue", 1, 1.90, 0, "Fe"),
    ("Dsfa", "yellow", 23, 12.82, 2, "Signas"),
    ("Pesa", "red", 0, 0.90, 0, "Signas");
""")

# Exploring the Database

In [ ]:
# List of tables
cur.execute("select name from sqlite_master where type = 'table'").fetchall()

In [ ]:
# Only get specific row (`name`)
cur.execute('''
  select 
    planets.name
  from 
    planets
''').fetchall()

In [ ]:
# Get all columns from exoplanets with the wildcard (*)
cur.execute('''
  select * from exoplanets
''').fetchall()

In [ ]:
# But what were the names for each column?
# print(cur.description)
print([description[0] for description in cur.description])

### Easier seeing full result

In [ ]:
def sql_with_cols(query,cursor=cur):
  '''
  Gives me the full result (with columns)
  '''
  result = cursor.execute(query).fetchall()
  cols = tuple([description[0] for description in cur.description])
  
  full_result = [cols] + result[:] 
  return full_result

In [ ]:
sql_with_cols('select * from exoplanets')

# More Exploration

In [ ]:
# Create the command looking at multiple columns
sql_command = '''
SELECT 
   exoplanets.name,
   exoplanets.color,
   exoplanets.num_of_moons 
FROM 
   exoplanets
'''

Display results after choosing particular columns using our cool function:

In [ ]:
# Display our results with our slick function
results = sql_with_cols(sql_command)
display(results)

Hmmm... It's kind of hard to read. It'd be nice to have a Pandas DataFrame to look at and work with...

## Bringing SQL Results into a Pandas DataFrame

*(Yay! It's what I always wanted!)*

### Doing it the clunky way with list comprehensions

In [ ]:
results = cur.execute(sql_command).fetchall()
df = pd.DataFrame(
        results, 
        columns=[description[0] for description in cur.description]
)
df.head()

### Using our function since we're not animals üßê

In [ ]:
results = sql_with_cols(sql_command)
df = pd.DataFrame(columns=results[0], data=results[1:])
df.head()

# Aggregations

In [ ]:
sql_with_cols('''
SELECT 
   num_of_moons, 
   count(*) 
FROM 
   planets 
GROUP BY
   num_of_moons
''')