<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Exercises" data-toc-modified-id="Exercises-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Exercises</a></span><ul class="toc-item"><li><span><a href="#Query-Exercise-1" data-toc-modified-id="Query-Exercise-1-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Query Exercise 1</a></span></li><li><span><a href="#Query-Exercise-2" data-toc-modified-id="Query-Exercise-2-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Query Exercise 2</a></span></li><li><span><a href="#Query-Exercise-3---Students-to-do-on-their-own" data-toc-modified-id="Query-Exercise-3---Students-to-do-on-their-own-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Query Exercise 3 - Students to do on their own</a></span></li><li><span><a href="#Query-Exercise-4" data-toc-modified-id="Query-Exercise-4-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Query Exercise 4</a></span></li><li><span><a href="#Query-Exercise-5" data-toc-modified-id="Query-Exercise-5-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Query Exercise 5</a></span></li><li><span><a href="#Great!-It's-working.-Let's-add-some-group-by-to-remove-duplicates!" data-toc-modified-id="Great!-It's-working.-Let's-add-some-group-by-to-remove-duplicates!-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Great! It's working. Let's add some group by to remove duplicates!</a></span></li></ul></li></ul></div>

# Exercises

We'll walk through some of these and aim to have you all do them yourself!

## Query Exercise 1

Create the following table using the customers table and the orders table

<img src="images/query1.png" width="500"/>

In [ ]:
sql_to_df('''
SELECT * 
FROM customers
LIMIT 2
''')

In [ ]:
sql_to_df('''
SELECT * 
FROM orders
LIMIT 2
''')

In [ ]:
query = '''
SELECT c.customerName, c.phone, c.state, o.orderDate
FROM customers as c
JOIN orders as o
USING (customerNumber)
'''

In [ ]:
sql_to_df(query).head()

In [ ]:
# First look at the customers dataframe 


# Then look at the orders dataframe

<details>
    <summary>Query 1 - Solution</summary>
    Query:
    
```SQL
SELECT c.customerName, c.phone, c.state, o.orderDate FROM
customers as c
JOIN orders as o using (customerNumber);
```
</details>

In [ ]:
query = """SELECT
        """

In [ ]:
join_1 = pd.read_sql(query, conn)
join_1.head()

## Query Exercise 2

Create a query that results in a table with the every customer number for an employee along with the employee name and number.

Ex:

<img src="images/query2.png" width="500"/>

In [ ]:
# Work here
sql_to_df('''
SELECT
    *
From 
    customers
''')

In [ ]:
sql_to_df('''
SELECT *
from employees
''')

In [ ]:
query = """
SELECT
    e.firstName
    ,e.lastName
    ,e.employeeNumber
    ,c.customerNumber
FROM
    employees as e
    join customers as c
        on e.employeeNumber = c.salesRepEmployeeNumber
        """

# pd.read_sql(query, conn).head()
sql_to_df(query).head()

<details>
    <summary> Query 2 - Solution</summary>
    Query:
    
```SQL
select e.firstname, e.lastname, e.employeenumber, c.customerNumber
from employees as e
join customers as c
on e.employeenumber = c.salesrepemployeenumber;
```
    
</details>

In [ ]:
# Now let's take this and incorporate the next table orders
orders_df.head(1)

## Query Exercise 3 - Students to do on their own

Create a query that results in a table with every customer name, order date, where status is disputed (you will need the customers and orders table to complete this task)

Ex:

<img src="images/query_3.png" width="500"/>

In [ ]:
# Work here

In [ ]:
query = """
        SELECT
        """

pd.read_sql(query, conn).head()

<details>
    <summary> Query 3 - Solution</summary>
    Query:
    
```SQL
SELECT c.customerName, o.status, o.orderDate
FROM customers c
JOIN orders o
USING (customerNumber)
WHERE status = "Disputed"
```
    
</details>

## Query Exercise 4

Write a query that results in the following:

Employee First and Last Name, order number and each product code for that order. 

*There should be a row for each product code*

Screenshot:

<img src="images/query4.png" width="500"/>

In [ ]:
# work here
query = """
        select
        """

pd.read_sql(query, conn).head(2)

<details>
    <summary>Query 4 Solution</summary>
    
    Query:
    
```SQL
    select e.firstname, e.lastname, o.orderNumber, od.productCode
    from employees as e
    join customers as c
    on e.employeenumber = c.salesrepemployeenumber
    join orders as o
    on o.customerNumber = c.customerNumber
    join orderdetails as od
    on od.orderNumber = o.orderNumber;
```
        
</details>

## Query Exercise 5

Write a query that results in the following:

Employee First and Last Name and each product name they sold, add an alias to match the image below

*There should be a row for each product name*

Screenshot:

<img src="images/query5.png" width="500"/>

In [ ]:
# work here
query = """
        select
        """

pd.read_sql(query, conn).head(2)

<details>
    <summary>Query 5 Solution</summary>
    
    Query:
    
```SQL
select e.firstname, e.lastname, p.productName
from employees as e
join customers as c
on e.employeenumber = c.salesrepemployeenumber
join orders as o
on o.customerNumber = c.customerNumber
join orderdetails as od
on od.orderNumber = o.orderNumber
join products as p
on p.productCode = od.productCode;
```
        
</details>

## Great! It's working. Let's add some group by to remove duplicates!

**Add aliases to result in the following**

<img src="images/query5.png" width="500"/>

In [ ]:
# remember the alias' from above

query = '''SELECT ...'''

final_df = pd.read_sql(query, conn)
final_df.head(2)

<details>
<summary>Final Query Solution</summary>

    Query:
    
```SQL
select e.firstname as fn, e.lastname as ln, p.productName as pn
from employees as e
join customers as c
on e.employeenumber = c.salesrepemployeenumber
join orders as o
on o.customerNumber = c.customerNumber
join orderdetails as od
on od.orderNumber = o.orderNumber
join products as p
on p.productCode = od.productCode
group by fn, ln, pn;

```

</details>